<footer class="footer">
    <div class="footer_top">
        <div class="container-fluid">
            <div class="flex-top">
                <div class="sides">
                    <img src="img/log.PNG" alt="логотип">
                    <div class="social min">
                        <a class="iconsocial" href="https://www.facebook.com/"><img src="img/fb.png"></a>
                        <a class="iconsocial" href="https://www.instagram.com/"><img src="img/instagram.png"></a>
                        <a class="iconsocial" href="https://vk.com//"><img src="img/vk.png"></a>
                    </div>
                </div>
               <div class="sides not">
                    <div class="nav">
                        <ul class="supmenu">
                            <li><a href="index.html">Главная</a></li>
                            <li><a href="#offers">Предложения</a></li>
                        </ul>
                        <ul class="submenu">
                            <li><a href="#flat">Квартиры</a></li>
                            <li><a data-toggle-id="mdl" class="mBtn">Бронирование</a></li>
                        </ul>
                    </div>
                    <div class="social">
                        <a class="iconsocial" href="https://www.facebook.com/"><img src="img/fb.png"></a>
                        <a class="iconsocial" href="https://www.instagram.com/"><img src="img/instagram.png"></a>
                        <a class="iconsocial" href="https://vk.com//"><img src="img/vk.png"></a>
                    </div>
                </div>
                <div class="sides">
                    <div class="contact">
                        <h4>График работы:</h4>
                        <p>ПН - ВС: 9:00 - 18:00</p>
                        <div class="contact">
                            <h4 id="top">Контакты:</h4>
                            <ul>
                                <li class="flex-sides tel"><a href="tel:+375295436401">+375 29 111 11 11</a></li>
                                <li class="flex-sides email"><a href="mailto:fife0@gmail.com">fife@gmail.com</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mdl" class="mdl" hidden>
        <div class="mdl-content">
            <div class="mdl-header">
                <span class="cross">&times;</span>
                <h2>Запись на просмотр</h2>
            </div>
            <div class="mdl-body">
                <form id="second_form" class="form-msg">
                    <p class="input">
                        <input id="vidUs" name="service" type="text" placeholder="Квартира *"> </p>
                    <p class="input">
                        <input id="lname" name="fio" type="text" placeholder="Ваше имя *">
                    </p>
                    <p class="input">
                        <input id="tel" name="tel" type="text" placeholder="Ваш  телефон *"></p>
                    <p class="input">
                        <input required type="checkbox" name="agreement"> <span>Согласен на
                            обработку персональных данных *</span> </p>
                    <p class="input">
                        <button id="submit" type="submit">Отправить</button>
                    </p>
                </form>
            </div>
            <div class="mdl-footer">
            </div>
        </div>
    </div>
</footer>