<header class="header">
    <div class="container-fluid">
        <div class="header_bottom-flex">
            <div class="logo">
                <a href="index.html"><img src="img/log.PNG" alt="Логотип"></a>
            </div>
            <div class="menuBurger"><img src="img/hamburger.png"></div>
            <div class="nav">
                <ul class="menu topmenu">
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="#offers">Предложения</a></li>
                    <li><a href="">Квартиры &#9660;<i class="fa fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a href="#flat">Без отделки</a></li>
                            <li><a href="#flat">С отделкой</a></li>
                            <li><a href="#flat">Квартиры-студии</a></li>
                            <li><a href="#flat">C террасой</a></li>
                            <li><a href="#flat">С мебелью</a></li>
                        </ul>
                    </li>
                    <li><a href="#top">Контакты</a></li>
                    <li><a data-toggle-id="mdl" class="mBtn">Бронирование</a></li>
                </ul>
            </div>
            <div class="contact">
                <ul>
                <li><a class="flex-sides email" href="mailto:kristina.ti.100@gmail.com">fife@gmail.com</a></li>
                <li><a class="flex-sides tel" href="tel:+375295436401">+375 29 111 11 11</a></li>
            </ul>
            </div>
        </div>
    </div>
</header>